@font-face {
    font-family: 'barlow';
    src: url(../Fonts/Barlow/Barlow-Black.ttf);
    font-family: 'BebasNeue';
    src: url(../Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}


body{
    margin: 0; 
}
.HDR{
    background-color: bisque;
    padding-top: 10px;
    position: fixed;
    align-items: center;
    text-align: center;
}
nav{
    background-color: bisque;
}
a{
    text-decoration: none !important;
    color: inherit !important;
}
li{
    padding-top: 10px;
    list-style: none;
    font-size: 20px;
    text-align:center;
    font-family: 'BebasNeue';
}
.boutus{
    margin-top: 200px;
    outline: 1px solid blue;
    border-radius: 20px;
    padding: 40px;
}
.slider{
    margin-top: 200px;
}

@media only screen and (max-width: 768px) {
    bodyclr{
        background-color: crimson;
    }
}