@font-face {
    font-family: 'babasneue';
    src: url(/Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding: 1rem;
    background-color: darkgray;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
h1{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    justify-content: center;
    background-color: darkgray;
}
.search{
    background-color: transparent;
    border: 1px solid wheat;
    border-radius: 40px;
    font-size: 1rem;
    padding: 0.5rem;
    color: whitesmoke;
}
.search::placeholder{
    color: whitesmoke;
}
.search:focus{
    outline: none;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie{
    width: 300px;
    margin: 2rem;
    background-color: cornflowerblue;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}
.movie img{
    width: 100%;
}
h3{
    color: black;
    margin-left: 1.5rem;
}
.movieinfo{
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5 1 1rem;
    font-family: 'babasneue';
}
.movieinfo span{
    background-color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    margin-right: 1rem;
}
.movieinfo span.green{
    color: lightgreen;
}
.movieinfo span.orange{
    color: orange;
}
.movieinfo span.red{
    color: red;
}
.overview{
    color: cornflowerblue;
    background-color: wheat;
    padding: 1.5rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 80%;
    transform: translateY(101%);
    transition: transform 0.5s ease;
}
.movie:hover .overview{
    transform: translateY(0);
}